name: Testing
on: push
jobs:
  testing:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v4
      - id: setup
        name: Setup Gauche
        run: |
          apt update -y
          apt install -y build-essential libtool pkg-config curl git unzip openssh-client zlib1g-dev libmbedtls-dev ca-certificates
          curl https://raw.githubusercontent.com/shirok/get-gauche/master/get-gauche.sh > get-gauche.sh && chmod +x get-gauche.sh && ./get-gauche.sh --prefix /usr --version 0.9.15 --auto
      - id: test
        name: Test the problems
        run: /usr/bin/gosh ./test.scm
